<template>
  <div class="header__module-nav">
    <ul class="header__module-nav-list container">
      <li class="header__module-nav-item nav-item-products">
        <a
          class="header__module-nav-link"
          href="#"
        ><span class="header__module-nav-span">Товары</span></a>
      </li>
      <li class="header__module-nav-item nav-item-service">
        <a
          class="header__module-nav-link"
          href="#"
        ><span class="header__module-nav-span">Услуги</span></a>
      </li>
      <li class="header__module-nav-item nav-item-percent">
        <a
          class="header__module-nav-link"
          href="#"
        ><span class="header__module-nav-span">Скидки</span></a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'HeaderNav',
};
</script>

<style lang="sass">
    .header__module-nav
        background-color: #8CD7E2
    .header__module-nav-list
        display: flex
        justify-content: center
        align-items: center
        list-style: none
    .header__module-nav-item
        width: 332px
        height: 60px
        transition: all 0.3s
        &:hover
            background-color: #318F9E
    .nav-item-products
        background-image: url("../../assets/img/products.png")
        background-repeat: no-repeat
        background-position: 70px
    .nav-item-service
        background-image: url("../../assets/img/services.png")
        background-repeat: no-repeat
        background-position: 70px
    .nav-item-percent
        background-image: url("../../assets/img/percent.png")
        background-repeat: no-repeat
        background-position: 70px
    .header__module-nav-link
        display: block
        text-align: center
        height: 100%
        font-size: 20px
        line-height: 60px
        text-transform: uppercase
        color: #FFFFFF
        transition: all 0.3s
        text-decoration: none
        &:hover span
            font-weight: bold
            border-bottom: 1px solid #FFFFFF
</style>
