<template>
  <div class="container">
    <div class="header__module-search ">
      <a
        href="/"
        class="header__logo logo"
      >
        logo
      </a>
      <form
        class="header__search"
        action="#"
      >
        <input
          class="header__search-text"
          type="text"
          placeholder="Поиск..."
        >
        <input
          class="header__search-button"
          type="submit"
          value=" "
        >
      </form>
      <div class="header__user-nav">
        <a
          href="#"
          class="user-nav__item item-favorites"
        >
          Избранное
        </a>
        <a
          href="#"
          class="user-nav__item item-cart"
        >
          Корзина
        </a>
        <a
          href="#"
          class="user-nav__item item-user"
          @click="showCart = !showCart"
        >
          Кабинет
          <transition name="slide-fade">
            <ul
              v-if="showCart"
              class="drop-box user-nav__item-drop-box"
            >
              <li class="drop-box__item">
                <router-link
                  to="/seller-page/form"
                  class="drop-box__link"
                >
                  продавца
                </router-link>
              </li>
              <li class="drop-box__item">
                <router-link
                  to="/shopper-page"
                  class="drop-box__link"
                >
                  покупателя
                </router-link>
              </li>
            </ul>
          </transition>
        </a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'HeaderSearch',
  data() {
    return {
      showCart: false,
    };
  },
};
</script>

<style lang="sass">
    .header__module-search
        display: flex
        justify-content: space-between
        align-items: center
        margin: 24px 50px

    .header__search
        border: 2px solid #8CD7E2
        border-radius: 5px
    .header__search-text
        width: 420px
        border: none
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 24px
        color: #575757
        padding: 0 18px
        box-sizing: border-box
        &:focus
            outline: none
    .header__search-button
        background-color: #8CD7E2
        background-image: url("../../assets/img/search.png")
        background-repeat: no-repeat
        background-position: center
        margin: 0
        width: 101px
        height: 48px
        border: none
        border-left: 2px solid #8CD7E2
        transition: all 0.3s
        &:hover
            background-color: white
    .header__user-nav
        display: flex
        justify-content: space-around
        height: 50px
    .user-nav__item
        position: relative
        text-decoration: none
        line-height: 90px
        margin: 0 32px
        font-weight: 300
        font-size: 16px
        color: #2B2B2B
        transition: all 0.3s
        &:hover
            color: #39A7B8
    .user-nav__item-drop-box
        top: 38px
        left: -180px
    .item-favorites
        background-image: url("../../assets/img/favourites.png")
        background-position: top
        background-repeat: no-repeat
    .item-cart
        background-image: url("../../assets/img/cart.png")
        background-position: top
        background-repeat: no-repeat
    .item-user
        background-image: url("../../assets/img/user.png")
        background-position: top
        background-repeat: no-repeat
</style>
