<template>
  <header class="header">
    <header-top />
   <header-search />
  <header-nav />
  </header>
</template>

<script>
import headerNav from './HeaderNav.vue';
import headerTop from './HeaderTop.vue';
import headerSearch from './HeaderSearch.vue';

export default {
  name: 'Header',
  components: {
    headerTop,
    headerSearch,
    headerNav,
  },

};
</script>

<style lang="sass">
.header
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)

.drop-box
  display: block
  position: absolute
  z-index: 9
  background-color: #FCF9F9
  list-style: none
  width: max-content
  padding: 0
  border: 3px solid #318F9E
.drop-box__link
  min-width: 283px
  padding: 20px
  display: block
  text-decoration: none
  font-family: 'Roboto', sans-serif
  font-size: 25px
  font-weight: 500
  line-height: 29px
  text-align: center
  color: #1F7886
  transition: all 0.3s
  &:hover
    color: #FCF9F9
    background-color: #1F7886


/*анимации*/
.slide-fade-enter-active
  transition: all .3s ease

.slide-fade-leave-active
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-fade-enter, .slide-fade-leave-to
  transform: translateX(10px)
  opacity: 0

</style>
