<template>
  <div class="header__module-top">
    <div class="container header__module-top-flex">
      <a
        href="#"
        class="header__change-location"
      >
        Город
      </a>
      <p class="header__support">
        <a
          href="#"
          class="header__registration"
          @click="showRegistration = !showRegistration"
        >Регистрация
          <transition name="slide-fade">
            <ul
              v-if="showRegistration"
              class="drop-box registration__drop-box"
            >
              <li class="drop-box__item">
                <router-link
                  to="/auth/seller"
                  class="drop-box__link"
                >
                  Предоставляю товары и услуги:
                </router-link>
              </li>
              <li class="drop-box__item">
                <router-link
                  to="/auth/shopper"
                  class="drop-box__link"
                >
                  Хочу преобрести товар и услугу
                </router-link>
              </li>
            </ul>
          </transition>
        </a>
        Служба поддержки 8 800 920 35 32
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderTop',
  data() {
    return {
      showRegistration: false,
    };
  },
};
</script>

<style lang="sass">
    .header__module-top
        background-color: #E5E5E5
        .header__module-top-flex
            display: flex
            justify-content: space-between
            align-items: center
            padding: 0 50px
            box-sizing: border-box
        .header__change-location
            background-image: url('../../assets/img/location.png')
            background-repeat: no-repeat
            background-position: left
            font-style: normal
            font-weight: 300
            font-size: 18px
            line-height: 22px
            color: #2B2B2B
            padding-left: 24px
            transition: all 0.3s
            &:hover
              color: #39A7B8
        .header__support
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 22px
            color: #2B2B2B
        .header__registration
            position: relative
            font-style: normal
            font-weight: 300
            font-size: 18px
            line-height: 22px
            color: #2B2B2B
            margin-right: 30px
            transition: all 0.3s
            &:hover
              color: #39A7B8
        .registration__drop-box
            top: 5px
            left: -155px
</style>
