<template>

  <form action="#" class="registration__form">

    <div class="registration__form-conteiner">
      <input type="text" placeholder="ФАМИЛИЯ" class="registration__form-text">
      <input type="text" placeholder="ИМЯ" class="registration__form-text">
      <input type="text" placeholder="ОТЧЕСТВО" class="registration__form-text">
    </div>

    <div class="registration__form-conteiner">
      <input type="text" class="registration__form-text" placeholder="ИНН">
    </div>
    <div class="registration__form-conteiner">
      <input type="text" placeholder="ТЕЛЕФОН" class="registration__form-text">
      <input type="text" name="email" class="registration__form-text" placeholder="E-MAIL" required>
    </div>
    <div class="registration__form-conteiner">
      <input type="text" class="registration__form-text" placeholder="АДРЕС  МАГАЗИНА">
    </div>

    <div class="registration__form-agree">
      <div class="registration__form-checkbox">
        <input type="checkbox" id="politics" onclick="check();" value="yes" autocomplete="off" /></div>
      <div class="registration__form-checkbox-text">
        <p>Я даю согласие на обработку моих персональных данных, соглашаюсь с
          <a href="#">пользовательским соглашением</a> и
          <a href="#">политикой конфедициальности</a>, ознакомлен с
          <a href="#">политикой</a> в отношении обработки персональных данных</p>
      </div>

    </div>

    <div class="registration__form-buttons">
      <button type="submit" class="registration__form-button">РЕГИСТРАЦИЯ</button>
      <button type="reset" class="registration__form-button">ОТМЕНА</button> </div>

  </form>
</template>

<script>
  function check() {
    var submit = document.getElementsByName('submit')[0];
    if (document.getElementById('politics').checked) submit.disabled = '';
    else submit.disabled = 'disabled';
  }
    export default {
        name: "businessman"
    }
</script>

<style scoped>

</style>
