<template>
  <div class="shopperAccount">
    <h1>Личный кабинет покупателя:</h1>
    <div class="shopperAccount__user">
    <shopper-navigation/>
    <div class="user__data">
    <form action="#">
    <fieldset>
      <div class="data__item">
        <label for="name">Фамилия</label>
        <input id="name" class="data__fieldset-input" required="" pattern="\S+[А-яа-я]">
        <label for="telephone">Номер телефона</label>
        <input id="telephone" class="data__fieldset-input" placeholder="+7">
        <label for="email">E-mail</label>
        <input id="email" class="data__fieldset-input" required="" pattern="\S+@[a-z]+.[a-z]+">
      </div>
      <div class="data__item">  
        <label for="name">Имя</label>
        <input id="name"  class="data__fieldset-input-last" required="" pattern="\S+[А-яа-я]">
      <ul v-if="inputs.length < 2">
          <li v-for="(input, index) in inputs" :key="index">
          <label for="telephone">Доп. номер телефона</label>
          <input id="telephone"  class="data__fieldset-input-last" placeholder="+7" v-model="input.one">  
          </li>
      </ul>
      <div v-else deleteItem(index)></div>    
        <a class="data__item-a" @click="addInput"><img class="data__item-pic" src="../../assets/img/plus.png">добавить еще телефон</a>
      </div>
    </fieldset>
    </form>
    <form action="#">
      <button class="shopperLogin__buttonReg" type="submit">СОХРАНИТЬ</button>
    </form>
    <form action="#">
      <button class="shopperLogin__buttonCancel" type="submit">ОТМЕНИТЬ</button> 
    </form>
    </div>
    </div>
  </div>

</template>

<script>
import shopperNavigation from '../../layout/shopperNavigation/ShopperNavigation.vue';

export default {
  name: 'ShopperPage',
  components: {
    shopperNavigation,
  },
  data: function(){
    return{
      inputs: []}
  },

  methods: {
    addInput() {
      this.inputs.push({
        one: ''
      })
    },
    deleteInput(index) {
      this.inputs.splice(index)
    }
  }
}
</script>

<style lang="sass" scoped>

.shopperAccount
    display: block
    text-align: center
    font-family: Roboto
    color: #000000
h1
    font-size: 35px
    line-height: 41px
    margin: 32px

.shopperAccount__user
    display: flex
    justify-content: flex-start

.data__item
    display: flex
    justify-content: flex-start
    margin: 8px
    display: inline-block
    float: left
    text-align: left

.user__data
    border-style: none
    display: block

fieldset
    border: none

label, input
    display: block
    font-size: 18px
    line-height: 21px
    padding: 2px
    color: #000000

input
    margin-bottom: 16px
    width: 330px
    height: 32px
    background: #FFFFFF
    border: 1px solid #C4C4C4
    box-sizing: border-box

.data__fieldset-input-last
    width: 216px

.data__item-a
    padding: 10px
    color: #000000
    font-size: 15px
    line-height: 18px
    cursor: pointer

.data__item-pic 
    margin: 28px 16px -8px  0

.shopperLogin__buttonReg
    background: #2B2B2B
    width: 332px
    height: 48px
    color: #FFFFFF
    font-size: 18px
    line-height: 21px
    border: 1px solid #000000
    margin: 100px 0 7px 0

.shopperLogin__buttonCancel
    background: #FFFFFF
    width: 332px
    height: 48px
    line-height: 21px
    border: 1px solid #000000
    margin: 7px 0 69px 0
</style>