<template>
  <div class="shopperNavigation">
    <ul>
        <li class="user-nav-li">
          <a class="user-nav-a" href="#"><img class="user-nav-pic" src="../../assets/img/user_black.png"> 
            Личные данные
          </a>
        </li>
        <li class="user-nav-li">
          <a class="user-nav-a" href="#"><img class="user-nav-pic" src="../../assets/img/favourites.png">
            Избранное
          </a>
        </li>
        <li class="user-nav-li">
          <a class="user-nav-a" href="#"><img class="user-nav-pic" src="../../assets/img/cart.png">
            Статус покупки
          </a>
        </li>
      </ul>
  </div>
</template>

<script>
export default {
  name: 'ShopperNavigation',
};
</script>

<style lang="sass">
ul
    list-style-type: none
    width: 390px
    margin: 0
    padding: 0
    text-align: left

.user-nav-li
    padding-top: 20px
    padding: 17px
    font-size: 22px

.user-nav-a
    text-decoration: none
    color: #000000
    
.user-nav-pic
    margin: -5px 16px

.shopperAccount__user-nav
    width: 350px

</style>
