<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>internet-store-frontend</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but internet-store-frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="/path/to/vue.js"></script>
    <script src="/path/to/vue-carousel.js"></script>
  </body>
</html>
