html,
body
  height: 100%
  margin: 0 auto
  font-family: 'Montserrat', sans-serif
  min-width: 1440px

.container
  width: 1440px
  margin: 0 auto

.logo, .footer
  font-family: 'Roboto', sans-serif
.logo
  font-style: normal
  font-weight: bold
  font-size: 35px
  line-height: 41px
  text-transform: uppercase
  text-decoration: none
  color: #8CD7E2
  transition: all 0.3s
  &:hover
    text-shadow: -4px 0px 30px #8CD7E2

#app
  display: flex
  flex-direction: column
  min-height: 100%
.content
  flex: 1 0 auto
.footer
  flex: 0 0 auto
.fff
  display: flex