<template>
  <div class="registration__flex container">
    <h2 class="registration__titl">
      Предоставляю товары и услуги:
    </h2>

    <div class="registration__content">
      <div class="registration__form-conteiner-radio">
        <router-link
          to="/auth/seller/businessman"
          class="drop-box__link"
        >
        <input
          type="radio"
          class="registration__form_input-radio"
          name="status"
          value="ip"
        ><label for="ip">ИП</label>
        </router-link>
        <router-link
          to="/auth/seller/enterprise"
          class="drop-box__link"
        >
          <input
            type="radio"
            class="registration__form_input-radio"
            name="status"
            value="ooo"
          ><label for="ooo">ООО</label>
        </router-link>

      </div>
      <transition
        name="component-fade"
        mode="out-in"
      >
        <router-view />
      </transition>
    </div>
  </div>
</template>

<script>
import Businessman from '@/layout/auth/seller/Businessman.vue';
import Enterprise from '@/layout/auth/seller/Enterprise.vue';

export default {
  name: 'Seller',
  components: {
    Businessman,
    Enterprise,
  },
};
</script>

<style scoped>

</style>
