<template>
    <div class="category">
      <h3 class="category__current">
        Категории
      </h3>
      <ul class="category__list">
        <li
          v-for="menuItem in menu"
          class="category__item"
        ><a class="category__item-link" :href=" menuItem.href ">{{ menuItem.title }}</a>
          <span class="category__item-arrow">></span>
          <div class="category category__drop drop1">
            <h3 class="category__current">
              {{ menuItem.title }}
            </h3>
            <ul class="category__list">
              <li
                v-for="dropItem1 in menuItem.child"
                class="category__item"
              ><a class="category__item-link" :href=" dropItem1.href ">{{ dropItem1.title }}</a><span class="category__item-arrow">></span>
                <div class="category category__drop drop2">
                  <h3 class="category__current">
                    {{ dropItem1.title }}
                  </h3>
                  <ul class="category__list">
                    <li
                      v-for="dropItem2 in dropItem1.child"
                      class="category__item"
                    ><a class="category__item-link" :href=" dropItem2.href ">{{ dropItem2.title }}</a>
                      <span class="category__item-arrow">></span>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
</template>

<script>
export default {
  name: 'Sidebar',
  data() {
    return {
      menu:
          [
            {
              title: 'Дом и сад',
              href: '/',
              child: [
                {
                  title: 'Дом и сад',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Товары для детей',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Техника и электроника',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Для ремонта',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Спорт и отдых',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Красота и здоровье',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Инструменты',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },

              ],
            },
            {
              title: 'Товары для детей',
              href: '/',
              child: [
                {
                  title: 'Дом и сад',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Товары для детей',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Техника и электроника',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Для ремонта',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Спорт и отдых',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Красота и здоровье',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Инструменты',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },

              ],
            },
            {
              title: 'Спорт и отдых',
              href: '/',
              child: [
                {
                  title: 'Дом и сад',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Товары для детей',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Техника и электроника',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Для ремонта',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Спорт и отдых',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Красота и здоровье',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Инструменты',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },

              ],
            },
            {
              title: 'Техника и электроника',
              href: '/',
              child: [
                {
                  title: 'Дом и сад',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Товары для детей',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Техника и электроника',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Для ремонта',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Спорт и отдых',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Красота и здоровье',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Инструменты',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },

              ],
            },
            {
              title: 'для ремонта',
              href: '/',
              child: [
                {
                  title: 'Дом и сад',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Товары для детей',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Техника и электроника',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Для ремонта',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Спорт и отдых',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Красота и здоровье',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Инструменты',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },

              ],
            },
            {
              title: 'Спорт и отдых ',
              href: '/',
              child: [
                {
                  title: 'Дом и сад',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Товары для детей',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Техника и электроника',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Для ремонта',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Спорт и отдых',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Красота и здоровье',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Инструменты',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },

              ],
            },
            {
              title: 'Инструменты',
              href: '/',
              child: [
                {
                  title: 'Дом и сад',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Товары для детей',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Техника и электроника',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Для ремонта',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Спорт и отдых',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Красота и здоровье',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },
                {
                  title: 'Инструменты',
                  href: '/',
                  child: [
                    {
                      title: 'Дом и сад',
                      href: '/',
                    },
                    {
                      title: 'Товары для детей',
                      href: '/',
                    },
                    {
                      title: 'Техника и электроника',
                      href: '/',
                    },
                    {
                      title: 'Для ремонта',
                      href: '/',
                    },
                    {
                      title: 'Спорт и отдых',
                      href: '/',
                    },
                    {
                      title: 'Красота и здоровье',
                      href: '/',
                    },
                    {
                      title: 'Инструменты',
                      href: '/',
                    },

                  ],
                },

              ],
            },
          ],
    };
  },
};
</script>

<style lang="sass">

.category
    position: relative
    &:hover
        background-color: white
.category__current
    margin: 8px 0 8px 30px
    color: #39a7b8
    font-size: 15px
    font-weight: 400
    text-decoration: underline
.category__list
    width: auto
    list-style: none
    padding: 0
    margin: 0
.category__item
    width: 212px
    display: flex
    justify-content: space-between
    padding: 8px 14px 8px 30px
    color: #2b2b2b
    font-size: 15px
    font-weight: 400
    transition: all 0.3s
    &:hover
        background-color: #1f7886
        color: white
.category__item-link
    color: inherit
    text-decoration: none
.category__item-arrow
    transform: scaleY(2)
.category__drop
    position: absolute
    display: none
    z-index: 1
    top: 0
    right: -100%
.category__item:hover .drop1
    display: block
    background-color: white
.drop1 > .category__list > .category__item:hover .drop2
    display: block
    background-color: white
</style>
