<template>

  <transition
    name="component-fade"
    mode="out-in"
  >
    <router-view />
  </transition>
</template>

<script>
  import Seller from "../../layout/auth/Seller.vue";
    export default {
        name: "AuthPage",
      components:{
          Seller,
      }
    }
</script>

<style lang="sass">
.registration__titl
  color: #000
  font-size: 35px
  font-weight: 400
  text-align: center
.registration__content
  display: flex
  flex-direction: column
  align-items: center
.registration__form-conteiner-radio
  display: flex
  justify-content: center
  margin-bottom: 50px
label
  display: inline-block
  cursor: pointer
  position: relative
  padding-left: 5px
  margin-right: 48px
  font-size: 24px
.registration__form_input-radio
  float: left
  width: 20px
  height: 25px
  margin-left: 48px
.registration__form
  width: 680px
  flex-direction: column
  align-items: normal
.registration__form-conteiner
  display: flex
  align-items: center
  width: 100%
  border: none
  padding: 0
  margin: 0 0 30px 0
  position: relative
form
  display: block
  margin-top: 0em
.registration__form-text
  width: inherit
  box-sizing: border-box
  padding: 5px 22px
  margin-right: 13px
  border: 1px solid #575757
  background-color: #fcf9f9
  color: #8a8a8a
  font-size: 20px
  font-weight: 500
  text-transform: uppercase
  transition: all .3s
.registration__form-conteiner-titl
  color: #575757
  font-size: 20px
  line-height: 35px
  font-weight: 400
.registration__form-add-adres
  white-space: nowrap
  color: #000
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  align-items: center
  border: none
  background: none
  font-size: 45px
  -webkit-transition: all .3s
  transition: all .3s
.registration__form-add-adres-span
  font-size: 15px
  font-weight: 300
  text-decoration: underline
  margin-left: 16px
legend
  display: block
  border-width: initial
  border-style: none
  border-color: initial
  border-image: initial
.registration__form-agree
  display: flex
  width: 560px
  margin: 0 auto
.registration__form-checkbox input
  display: block
  width: 16px
  height: 16px
.registration__form-checkbox-text
  display: block
  width: 560px
  height: 54px
  margin: 0 auto
  p
    font-family: Roboto
    font-size: 15px
    text-align: justify
    vertical-align: top
    padding-left: 20px
    margin: 0 auto
.registration__form-buttons
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
.registration__form-button
  width: 330px
  margin: 15px 0
  border: 1px solid transparent
  background-color: #8cd7e2
  padding: 15px 0
  text-align: center
  color: #fff
  font-size: 18px
  font-weight: 400
  text-transform: uppercase
  transition: all .3s
  &:hover
    background-color: #fff
    border-color: #8cd7e2
    color: #8cd7e2
</style>
