<template>
  <div class="shopperLogin">
    <fieldset class="shopperLogin__fieldset">
      <legend>Хочу преобрести товары и услуги</legend>
      <input id="name" class="shopperLogin__fieldset-input" placeholder="ИМЯ" required="" pattern="\S+[А-яа-я]">
      <br>
      <input id="telephone" class="shopperLogin__fieldset-input" placeholder="НОМЕР ТЕЛЕФОНА">
      <br>
      <input id="email" class="shopperLogin__fieldset-input" placeholder="E-MAIL" required="" pattern="\S+@[a-z]+.[a-z]+">
      <br>
      <div class="shopperLogin__checkbox">
      <label for="checkbox">
        <input class="checkbox" type="checkbox"><div class="checkboxText">Я даю согласие на обработку моих персональных данных, соглашаюсь
        с <a href="#">пользовательским соглашением</a> и <a href="#">политикой конфедициальности</a>,
        ознакомлен с <a href="#">политикой</a> в отношении обработки персональных данных.</div>
      </label>
      </div>
    </fieldset>
    <form action="#">
      <button class="shopperLogin__buttonReg" type="submit">РЕГИСТРАЦИЯ</button>
    </form>
    <form action="#">
      <button class="shopperLogin__buttonCancel" type="submit">ОТМЕНА</button>
    </form>
  </div>

</template>

<script>
export default {
  name: 'ShopperPage',
};
</script>

<style lang="sass" scoped>
.shopperLogin
    font-family: Roboto
    font-size: 18px
    display: block
    text-align: center

.shopperLogin__fieldset
    border-style: none

.shopperLogin__fieldset-input
    width: 680px
    height: 32px
    line-height: 23px
    padding: 0 24px
    background: #FCF9F9
    border: 1px solid #575757
    font-weight: 500
    font-size: 20px
    color: #8A8A8A
    margin: 15px
legend
    font-weight: 500
    font-size: 25px
    padding: 32px

.shopperLogin__checkbox
    margin: auto
    font-weight: 300
    font-size: 15px
    text-align: left

label
    display: flex
    justify-content: center
    text-align: left

.checkbox
    margin-top: 19px

.checkboxText
    padding: 16px 23px
    width: 560px

.shopperLogin__buttonReg
    background: #2B2B2B
    width: 216px
    height: 48px
    color: #FFFFFF
    font-size: 18px
    line-height: 21px
    border: 1px solid #000000
    margin: 30px 0 7px 0

.shopperLogin__buttonCancel
    background: #FFFFFF
    width: 216px
    height: 48px
    line-height: 21px
    border: 1px solid #000000
    margin: 7px 0 69px 0
</style>
