<template>
  <div class="container cabinet__flex">
    <div class="cabinet__content">
      <seller-nav />
      <transition
        name="component-fade"
        mode="out-in"
      >
        <router-view />
      </transition>
    </div>
  </div>
</template>

<script>
import SellerNav from '@/layout/sellerCabinet/SellerNav.vue';
import SellerForm from '@/layout/sellerCabinet/SellerForm.vue';
import SellerSettings from '@/layout/sellerCabinet/SellerSettings.vue';

export default {
  name: 'SellerPage',
  components: {
    SellerNav,
    SellerForm,
    SellerSettings,
  },
};
</script>

<style lang="sass">
.cabinet__title
  color: black
  font-size: 35px
  font-weight: 400
  text-align: center
.cabinet__content
    display: flex
    align-items: start
    justify-content: start
.cabinet__form-buttons
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
.cabinet__form-button
  width: 330px
  margin: 15px 0
  border: 1px solid transparent
  background-color: #8CD7E2
  padding: 15px 0
  text-align: center
  color: white
  font-size: 18px
  font-weight: 400
  text-transform: uppercase
  transition: all 0.3s
  &:hover
    background-color: white
    color: #8CD7E2
    border: 1px solid #8CD7E2
.component-fade-enter-active, .component-fade-leave-active
    transition: opacity .3s ease
.component-fade-enter, .component-fade-leave-to
    opacity: 0
</style>
