<template>
  <div>
    <h2 class="cabinet__title">
      Личный кабинет продавца
    </h2>
    <form class="cabinet__form" action="#">
      <div class="cabinet__form-container">
        <input class="cabinet__form-text" type="text" placeholder="наименование компании">
      </div>
      <legend class="cabinet__form-container-title">Генеральный директор</legend>
      <div class="cabinet__form-container">
        <input class="cabinet__form-text" type="text" name="" placeholder="фамилия">
        <input class="cabinet__form-text" type="text" name="" placeholder="имя">
        <input class="cabinet__form-text" type="text" name="" placeholder="отчество">
      </div>
      <div class="cabinet__form-container">
        <input class="cabinet__form-text" type="text" name="" placeholder="инн">
        <input class="cabinet__form-text" type="text" name="" placeholder="кпп">
        <div class="cabinet__form-question">?</div>
      </div>
      <div class="cabinet__form-container">
        <input class="cabinet__form-text" type="text" placeholder="телефон">
        <button class="cabinet__form-add-tel">+<span class="cabinet__form-add-tel-span">добавить еще телефон</span></button>
      </div>
      <div class="cabinet__form-container">
        <input class="cabinet__form-text" type="text" placeholder="e-mail">
      </div>
      <div class="cabinet__form-buttons">
        <button class="cabinet__form-button" type="submit">сохранить</button>
        <button class="cabinet__form-button" type="reset">отменить</button>
      </div>
    </form>
  </div>

</template>

<script>
export default {
  name: 'SellerForm',
};
</script>

<style lang="sass">
.cabinet__form
  width: 680px
  display: flex
  flex-direction: column
  align-items: normal
.cabinet__form-container
  display: flex
  align-items: center
  width: 100%
  border: none
  padding: 0
  margin: 0 0 30px 0
  position: relative
.cabinet__form-container-title
  color: #575757
  font-size: 20px
  line-height: 35px
  font-weight: 400
.cabinet__form-text
  width: inherit
  box-sizing: border-box
  padding: 5px 22px
  margin-right: 13px
  border: 1px solid #575757
  background-color: #fcf9f9
  color: #8a8a8a
  font-size: 20px
  font-weight: 500
  text-transform: uppercase
  transition: all 0.3s
  &:focus
    outline: 2px solid #8CD7E2
.cabinet__form-question
  position: absolute
  right: -40px
  border: 1px solid black
  border-radius: 50%
  width: 32px
  height: 32px
  text-align: center
  line-height: 31px
  cursor: pointer
  transition: all 0.3s
  &:hover
    color: #8CD7E2
    border: 1px solid #8CD7E2

.cabinet__form-add-tel
  white-space: nowrap
  color: #000000
  display: flex
  align-items: center
  border: none
  background: none
  font-size: 45px
  transition: all 0.3s
  &-span
    font-size: 15px
    font-weight: 300
    text-decoration: underline
    margin-left: 16px
  &:hover
    color: #8CD7E2
</style>
