<template>
<div>
  <h2 class="cabinet__title">
    настройки магазина
  </h2>
  <div class="settings__choice-avatar">
    <p class="choice-avatar-text">
      <span class="choice-avatar-text-span">+</span>
      добавить аватар
    </p>
  </div>
  <form class="cabinet__settings" action="">
    <div class="settings__top">
      <input class="settings__top-item settings__input" type="text" name="shop-name" placeholder="Название магазина">
      <select class="settings__top-item settings__select" name="category">
        <option value="">Категория1</option>
        <option value="">Категория2</option>
        <option value="">Категория3</option>
        <option value="">Категория4</option>
      </select>
      <textarea name="desc-product" class="settings__top-item settings__textarea"></textarea>
      <div class="settings__photo-block">
        <div class="settings__choice-img"></div>
        <p class="settings__new-photo-block">+<span class="settings__new-photo-block-span">добавить фотографии</span></p>
      </div>
      <div class="settings__price">
        <h3 class="settings__price-title">Стоимость товара</h3>
        <p class="settings__price-text"><input type="text" class="settings__top-item settings__price-input">Руб.</p>
      </div>
    </div>
    <div class="cabinet__form-buttons">
      <button class="cabinet__form-button" type="submit">добавить товар</button>
      <button class="cabinet__form-button" type="reset">отменить</button>
    </div>
  </form>
</div>
</template>

<script>
export default {
  name: 'SellerSettings',
};
</script>

<style lang="sass" scoped>
.settings__choice-avatar
  width: 796px
  height: 100px
  background-image: linear-gradient(#c78ef4 0%, #b4dae2 100%)
  display: flex
  align-items: center
  justify-content: center
  color: #000000
  font-size: 20px
  font-weight: 400
  cursor: pointer
  &:hover
    color: white
.choice-avatar-text-span
  font-size: 32px
.cabinet__settings
  margin-top: 40px
  display: flex
  flex-direction: column
  align-items: center
.settings__top
  width: 566px
  display: flex
  flex-direction: column
  align-items: flex-start
  color: #575757
  font-size: 20px
  font-weight: 400
.settings__top-item
  width: 100%
  margin-bottom: 30px
  box-sizing: border-box
  border: 1px solid #c4c4c4
  background-color: #ffffff
  color: #575757
  font-size: 20px
  font-weight: 400
  padding: 14px 17px
.settings__select
.settings__select:after
.settings__textarea
  height: 83px
  resize: none
.settings__photo-block
  display: flex
  justify-content: flex-start
  align-items: center
  cursor: pointer
.settings__choice-img
  width: 218px
  height: 143px
  border: 3px solid #c4c4c4
  background-color: #8a8a8a
  box-sizing: border-box
  &:hover
    border: 3px solid #8CD7E2
.settings__new-photo-block
  margin-left: 15px
  white-space: nowrap
  color: #000000
  display: flex
  align-items: center
  border: none
  background: none
  font-size: 45px
  transition: all 0.3s
  &-span
    font-size: 15px
    font-weight: 300
    text-decoration: underline
    margin-left: 16px
  &:hover
    color: #8CD7E2
.settings__price-title
  color: #2b2b2b
  margin-top: 30px
  margin-bottom: 14px
.settings__price-input
  width: 218px
  margin-right: 14px

</style>
