<template>
<ul class="cabinet__nav">
    <li class="cabinet__nav-item nav-item-personal">
        <router-link to="/seller-page/form" class="cabinet__nav-link">
            Личные данные
        </router-link>
    </li>
    <li class="cabinet__nav-item nav-item-settings" >
        <router-link to="/seller-page/settings" class="cabinet__nav-link">
            Настройки магазина
        </router-link>
    </li>
    <li class="cabinet__nav-item nav-item-orders-history">
        <router-link to="/seller-page/orders-history" class="cabinet__nav-link">
            История заказов
        </router-link>
    </li>
</ul>
</template>

<script>
export default {
  name: 'SellerNav',
};
</script>

<style lang="sass">
.cabinet__nav
    margin-top: 121px
    display: flex
    flex-direction: column
    list-style: none
    padding-left: 0
.cabinet__nav-item
    padding-left: 48px
    background-image: none
    background-repeat: no-repeat
    background-position: center left
.nav-item-personal
    background-image: url("../../assets/img/personal.png")
.nav-item-settings
    background-image: url("../../assets/img/settings.png")
.nav-item-orders-history
    background-image: url("../../assets/img/history.png")
.cabinet__nav-link
    line-height: 53px
    opacity: 0.5
    color: #000000
    font-size: 22px
    font-weight: 400
    text-decoration: underline
    transition: all 0.3s
    &:hover
        opacity: 1
.router-link-active
    opacity: 1
</style>
