<template>
    <div>
        <div class="sidebar">
            <div class="container sidebar__flex">
                <sidebar />
                <slider />
                <div class="create-shop">
                    <p class="create-shop__text">
                        Разместить магазин
                    </p>
                    <a
                            class="create-shop__button"
                            href="#"
                    >перейти</a>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="catalog__title">Товар дня:</h3>
            <catalog></catalog>
            <h3 class="catalog__title">Просмотренные товары:</h3>
            <catalog></catalog>
            <h3 class="catalog__title">Популярные магазины:</h3>
            <catalog></catalog>
        </div>
    </div>
</template>

<script>
import slider from '@/layout/slider/Slider.vue';
import sidebar from '@/layout/sidebar/Sidebar.vue';
import catalog from '@/components/catalog/Catalog.vue';

export default {
  name: 'MainPage',
  components: {
    slider,
    sidebar,
    catalog,
  },
};
</script>

<style lang="sass" scoped>
.sidebar__flex
  display: flex
  justify-content: space-around
  margin-top: 30px
.create-shop
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 334px
  height: 303px
  border-radius: 10px
  border: 1px solid #c4c4c4
  background-color: #ffffff
.create-shop__text
  text-align: center
  color: #575757
  font-size: 35px
  font-weight: 400
.create-shop__button
  padding: 13px 25px
  color: #ffffff
  font-size: 20px
  font-weight: 400
  text-transform: uppercase
  border-radius: 5px
  background: linear-gradient( #91e2ee 0%, #318f9e 100%)
  text-decoration: none
  transition: all 4.3s
  position: relative
.create-shop__button:after
  display: flex
  justify-content: center
  border-radius: 5px
  align-items: center
  content: 'перейти'
  position: absolute
  top: 0
  left: 0
  right: 0
  background: linear-gradient( #91e2ee 100%, #318f9e 100%)
  transition: 0.3s
  height: 100%
  opacity: 0
.create-shop__button:hover:after
  opacity: 1
.catalog__title
    margin-left: 30px
    color: #318f9e
    font-size: 20px
    font-weight: 700
    text-transform: uppercase
</style>
