<template>
  <div id="app">
    <div class="content">
      <div id="nav">
        <router-link to="/">
          main
        </router-link> |
        <router-link to="/login">
          login
        </router-link> |
        <router-link to="/auth/seller">
          auth/seller
        </router-link> |
        <router-link to="/auth/shopper">
          auth/shopper
        </router-link> |
        <router-link to="/seller-page">
          seller-page
        </router-link> |
        <router-link to="/shopper-page">
          shopper-page
        </router-link> |
      </div>
      <app-header />
        <transition
                name="component-fade"
                mode="out-in"
        >
            <router-view />
        </transition>
    </div>
    <app-footer />
  </div>
</template>

<script>
import appHeader from './layout/header/Header.vue';
import appSlider from './layout/slider/Slider.vue';
import appFooter from './layout/footer/Footer.vue';


export default {
  components: {
    appHeader,
    appSlider,
    appFooter,
  },
};
</script>

<style lang="sass" scoped>
  @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700&display=swap")
  @import "~normalize-sass/normalize.sass"
  .component-fade-enter-active, .component-fade-leave-active
    transition: opacity .3s ease
  .component-fade-enter, .component-fade-leave-to
    opacity: 0
</style>
