<template>
  <div class="footer">
    <div>{{ new Date().getFullYear() }}</div>
  </div>
</template>

<script>
export default {
  name: 'Footer',
};
</script>

<style lang="sass">
.footer
  left: 0px
  top: 0px
  height: 109px
  background: #E5E5E5
  display: flex
  justify-content: center
  align-items: center
  font-size: 25px
  text-decoration-line: underline
</style>
