<template>
    <div id="container"><carousel :per-page="1" :autoplay="true" :navigate-to="someLocalProperty" 
    :mouse-drag="false" :loop="true" :navigationEnabled="true">
    <slide>
      <div class="img"><img src="../../assets/img/image22.png">
      <span class="label">Интернет - магазин <br>
      по продаже товаров и услуг <br> 
      в Вашем городе</span>
      </div>
    </slide>
    <slide>
     <div class="img"><img src="../../assets/img/image22.png">
      <span class="label">Интернет - магазин <br>
      по продаже товаров и услуг <br> 
      в Вашем городе</span>
      </div>
    </slide>
    <slide>
      <div class="img"><img src="../../assets/img/image22.png">
      <span class="label">Интернет - магазин <br>
      по продаже товаров и услуг <br> 
      в Вашем городе</span>
      </div>
    </slide>
  </carousel>
  </div>
</template>

<script>
    export default {
        name: "Slider",        
};
</script>

<style lang="sass" scoped>
#container
  width: 796px
  height: 301px
  margin: 5%
  color: #fff
  background: #318F9E
  border-radius: 5px

.VueCarousel-slide 
  position: relative
  color: #fff
  font-family: Montserrat, sans-serif
  font-size: 35px
  font-weight: bold
  text-align: center
  min-height: 260px

.label 
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

</style>
